#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_17 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_19 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_20 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_18 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}