#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Button_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 12px 12px 12px 12px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  height: 31px;
  width: 307px;
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_11 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_11 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_12 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_12 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_17 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_17 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_19 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_19 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_20 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_20 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_18 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Line_18 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-03dd6ef1-08a1-4b89-93da-c9f3b1fd7aa3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}