#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Line_1 {
  stroke-width: 2px;
  stroke: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Line_1 {
  stroke-width: 2px;
  stroke: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Button_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 15px 15px 15px 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 39px;
  width: 279px;
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Button_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 15px 15px 15px 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 39px;
  width: 279px;
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Button_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 15px 15px 15px 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 39px;
  width: 279px;
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Line_2 {
  stroke-width: 2px;
  stroke: #699CFC;
  -ms-transform: rotate(90.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Line_2 {
  stroke-width: 2px;
  stroke: #699CFC;
  -ms-transform: rotate(90.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}