#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Line_2 {
  rotation: 90.0;
  margin-left: 79px;
  margin-top: -79px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-100ce9fb-953b-4c12-ae9e-50f0ba743b0a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}