#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Line_17 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Line_19 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Line_20 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Line_18 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}