#s-492d66d2-956b-4f70-88ee-fb87588efc02 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-signIn {
  position: absolute;
  width: 375px;
  height: 471px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Rectangle_11 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #F6F7F8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Rectangle_11 {
  position: absolute;
  width: 375px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Rectangle_11 > .clipping, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Rectangle_11 > .paddingLayer {
  height: 88px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Rectangle_11 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_6 > svg {
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_6 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_6 > img, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_6 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_17 > svg {
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_17 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_17 > img, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_17 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_18 > svg {
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_18 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_18 > img, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_18 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_4 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_4 > .clipping, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_4 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Table_2 {
  position: absolute;
  width: 351px;
  height: 130px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Table_2 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Table_2 > table {
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_7 {
  width: 160px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_10 {
  width: 161px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_8 {
  width: 160px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_11 {
  width: 161px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_9 {
  width: 160px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_12 {
  width: 161px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 17.999996pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_1 > .clipping, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_1 span {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 17.999996pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 17.999996pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_8 {
  position: absolute;
  width: 48px;
  height: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_8 > img, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_8 > svg {
  height: 52px;
  width: 48px;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Table_1 {
  position: absolute;
  width: 351px;
  height: 130px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Table_1 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Table_1 > table {
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_1 {
  width: 160px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_4 {
  width: 161px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_2 {
  width: 160px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_5 {
  width: 161px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_5 span {
  color: #699CFC;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_3 {
  width: 160px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_6 {
  width: 161px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  text-shadow: none;
  padding-left: 12px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #shapewrapper-s-Line_6 marker {
  fill: #000000;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #shapewrapper-s-Line_6 {
  position: absolute;
  width: 376px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Line_6 {
  width: 376px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 17.999996pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_2 > .clipping, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 17.999996pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 17.999996pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 17.999996pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_3 > .clipping, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_3 span {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 17.999996pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 17.999996pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #shapewrapper-s-Line_9 marker {
  fill: #000000;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #shapewrapper-s-Line_9 {
  position: absolute;
  width: 376px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Line_9 {
  width: 376px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_9 {
  position: absolute;
  width: 376px;
  height: 161px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_9 > img, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_9 > svg {
  height: 161px;
  width: 376px;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Paragraph_1 {
  position: absolute;
  width: 108px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Paragraph_1 > .clipping, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_1 {
  position: absolute;
  width: 60px;
  height: 58px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_1 > img, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_1 > svg {
  height: 58px;
  width: 60px;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Group_1 {
  position: absolute;
  width: 387px;
  height: 85px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #shapewrapper-s-Line_11 marker {
  fill: #000000;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #shapewrapper-s-Line_11 {
  position: absolute;
  width: 385px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Line_11 {
  width: 385px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_4 {
  position: absolute;
  width: 64px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_4 > img, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_4 > svg {
  height: 44px;
  width: 58px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #699CFC;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_5 {
  position: absolute;
  width: 56px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_5 > img, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_5 > svg {
  height: 54px;
  width: 56px;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_11 {
  position: absolute;
  width: 61px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_11 > img, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_11 > svg {
  height: 50px;
  width: 61px;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_3 {
  position: absolute;
  width: 55px;
  height: 57px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_3 > img, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_3 > svg {
  height: 57px;
  width: 55px;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #shapewrapper-s-Line_12 marker {
  fill: #000000;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #shapewrapper-s-Line_12 {
  position: absolute;
  width: 385px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Line_12 {
  width: 385px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_7 {
  position: absolute;
  width: 56px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_7 > img, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Image_7 > svg {
  height: 49px;
  width: 56px;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #shapewrapper-s-Line_17 marker {
  fill: #000000;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #shapewrapper-s-Line_17 {
  position: absolute;
  width: 84px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Line_17 {
  width: 84px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #shapewrapper-s-Line_19 marker {
  fill: #000000;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #shapewrapper-s-Line_19 {
  position: absolute;
  width: 84px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Line_19 {
  width: 84px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #shapewrapper-s-Line_20 marker {
  fill: #000000;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #shapewrapper-s-Line_20 {
  position: absolute;
  width: 84px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Line_20 {
  width: 84px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_5 > .clipping, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-BoldItalic',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_6 > .clipping, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_6 span {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-BoldItalic',Arial;
  font-size: 8.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-BoldItalic',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_7 > .clipping, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_8 > .clipping, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_9 > .clipping, #s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #shapewrapper-s-Line_18 marker {
  fill: #000000;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #shapewrapper-s-Line_18 {
  position: absolute;
  width: 84px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 #s-Line_18 {
  width: 84px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-492d66d2-956b-4f70-88ee-fb87588efc02 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}