#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Line_17 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Line_19 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Line_20 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Line_18 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-646505b1-c583-415e-8bdc-c16038274b1a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}