#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Line_17 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Line_19 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Line_20 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Line_18 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7eff32c4-933a-4a58-99e4-b2182fa42d0f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}