#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_2 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_2 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_2 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_11 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_11 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_12 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_12 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_17 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_17 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_19 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_19 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_20 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_20 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_18 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_18 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 28px;
  width: 220px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}