#s-8a029a5f-43fb-46b1-8acd-5529753227bd > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_11 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #F6F7F8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_11 {
  position: absolute;
  width: 375px;
  height: 98px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_11 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_11 > .paddingLayer {
  height: 97px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_11 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_7 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_6 > svg {
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_6 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_6 > img, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_6 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #shapewrapper-s-Line_1 marker {
  fill: #000000;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #shapewrapper-s-Line_1 {
  position: absolute;
  width: 389px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_1 {
  width: 389px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_17 > svg {
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_17 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_17 > img, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_17 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_18 > svg {
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_18 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_18 > img, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_18 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_4 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_4 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_4 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_8 {
  position: absolute;
  width: 253px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_8 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_8 > .paddingLayer {
  height: 96px;
  width: 249px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #shapewrapper-s-Line_2 marker {
  fill: #000000;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #shapewrapper-s-Line_2 {
  position: absolute;
  width: 389px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_2 {
  width: 389px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_10 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_1 {
  position: absolute;
  width: 60px;
  height: 58px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_1 > img, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_1 > svg {
  height: 58px;
  width: 60px;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 17.999998pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_11 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_11 span {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 17.999998pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_11 span#rtr-s-Text_11_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 17.999998pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_9 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_9 {
  position: absolute;
  width: 201px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_9 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_9 > .paddingLayer {
  height: 25px;
  width: 197px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_9 span {
  color: #699CFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #699CFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -6px);
  width: calc(100% + -6px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_2 {
  position: absolute;
  width: 67px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_2 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_2 > .paddingLayer {
  height: 30px;
  width: 61px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + -6px);
  width: calc(100% + -6px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_6 {
  position: absolute;
  width: 67px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_6 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_6 > .paddingLayer {
  height: 30px;
  width: 61px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_38 > svg {
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_38 {
  position: absolute;
  width: 34px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_38 > img, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_38 > svg {
  height: 38px;
  width: 34px;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Group_1 {
  position: absolute;
  width: 387px;
  height: 85px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #shapewrapper-s-Line_11 marker {
  fill: #000000;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #shapewrapper-s-Line_11 {
  position: absolute;
  width: 385px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_11 {
  width: 385px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_4 {
  position: absolute;
  width: 58px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_4 > img, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_4 > svg {
  height: 44px;
  width: 58px;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_5 {
  position: absolute;
  width: 56px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_5 > img, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_5 > svg {
  height: 54px;
  width: 56px;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_9 {
  position: absolute;
  width: 67px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_9 > img, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_9 > svg {
  height: 50px;
  width: 61px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #699CFC;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_2 {
  position: absolute;
  width: 55px;
  height: 57px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_2 > img, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_2 > svg {
  height: 57px;
  width: 55px;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #shapewrapper-s-Line_12 marker {
  fill: #000000;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #shapewrapper-s-Line_12 {
  position: absolute;
  width: 385px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_12 {
  width: 385px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_3 {
  position: absolute;
  width: 56px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_3 > img, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_3 > svg {
  height: 49px;
  width: 56px;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #shapewrapper-s-Line_17 marker {
  fill: #000000;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #shapewrapper-s-Line_17 {
  position: absolute;
  width: 84px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_17 {
  width: 84px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #shapewrapper-s-Line_19 marker {
  fill: #000000;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #shapewrapper-s-Line_19 {
  position: absolute;
  width: 84px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_19 {
  width: 84px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #shapewrapper-s-Line_20 marker {
  fill: #000000;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #shapewrapper-s-Line_20 {
  position: absolute;
  width: 84px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_20 {
  width: 84px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_1 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_2 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-BoldItalic',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_3 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_3 span {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-BoldItalic',Arial;
  font-size: 8.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_3 span#rtr-s-Text_3_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-BoldItalic',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_5 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_6 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #shapewrapper-s-Line_18 marker {
  fill: #000000;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #shapewrapper-s-Line_18 {
  position: absolute;
  width: 84px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Line_18 {
  width: 84px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_12 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_12 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_12 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_12 span#rtr-s-Text_12_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_5 {
  position: absolute;
  width: 253px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_5 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_5 > .paddingLayer {
  height: 96px;
  width: 249px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_9 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_9 span {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_9 span#rtr-s-Text_9_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Paragraph_1 {
  position: absolute;
  width: 10px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Paragraph_1 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_13 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_13 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_13 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_1 {
  width: 375px;
  height: 83px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 375px;
  height: 83px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_10 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_10 {
  position: absolute;
  width: 201px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_10 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_10 > .paddingLayer {
  height: 25px;
  width: 197px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_10 span {
  color: #699CFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #699CFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_2 {
  width: 375px;
  height: 83px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #699CFC;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_2 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 375px;
  height: 83px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Paragraph_2 {
  position: absolute;
  width: 275px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Paragraph_2 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Paragraph_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_11 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_11 > img, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_11 > svg {
  height: 100px;
  width: 100px;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_8 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_8 > img, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_8 > svg {
  height: 100px;
  width: 100px;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Dynamic_Panel_2 {
  position: absolute;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_3 {
  width: 378px;
  height: 285px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_3 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 378px;
  height: 285px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_7 {
  position: absolute;
  width: 328px;
  height: 164px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_7 > img, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Image_7 > svg {
  height: 164px;
  width: 328px;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_4 {
  width: 378px;
  height: 255px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFECE;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_4 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 378px;
  height: 255px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Input_2 {
  position: absolute;
  width: 344px;
  height: 190px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Input_2 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Input_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Input_2 > .paddingLayer {
  height: 190px;
  width: 329px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 0px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Button_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 11px 11px 11px 11px;
  box-shadow: none;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Button_2 {
  position: absolute;
  width: 234px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Button_2 > .clipping, #s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Button_2 > .paddingLayer {
  height: 28px;
  width: 220px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Button_2 span {
  color: #699CFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd #s-Button_2 span#rtr-s-Button_2_0 {
  color: #699CFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8a029a5f-43fb-46b1-8acd-5529753227bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}