#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a6664139-a803-49bc-b0a9-5ec9553bbfb8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}