#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Line_2 {
  rotation: 90.0;
  margin-left: 79px;
  margin-top: -79px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-affbbda1-0fe2-4e0a-9ce1-27a605f677d6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}