#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-signIn {
  position: absolute;
  width: 390px;
  height: 559px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_36 marker {
  fill: #CCCCCC;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_36 {
  position: absolute;
  width: 378px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_36 {
  width: 378px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #CCCCCC;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_16 marker {
  fill: #000000;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_16 {
  position: absolute;
  width: 385px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_16 {
  width: 385px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_9 {
  position: absolute;
  width: 389px;
  height: 128px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_9 > img, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_9 > svg {
  height: 128px;
  width: 389px;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_7 > .clipping, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_7 span {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_10 > .clipping, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_10 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_11 > .clipping, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_11 span {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_2 {
  position: absolute;
  width: 344px;
  height: 61px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_2 > .clipping, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_2 > .paddingLayer {
  height: 57px;
  width: 340px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_4 {
  position: absolute;
  width: 344px;
  height: 61px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_4 > .clipping, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_4 > .paddingLayer {
  height: 57px;
  width: 340px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Paragraph_1 {
  position: absolute;
  width: 108px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Paragraph_1 > .clipping, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Group_1 {
  position: absolute;
  width: 387px;
  height: 85px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_11 marker {
  fill: #000000;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_11 {
  position: absolute;
  width: 385px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_11 {
  width: 385px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_4 {
  position: absolute;
  width: 58px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_4 > img, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_4 > svg {
  height: 44px;
  width: 58px;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_5 {
  position: absolute;
  width: 62px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_5 > img, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_5 > svg {
  height: 54px;
  width: 56px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #699CFC;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_11 {
  position: absolute;
  width: 61px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_11 > img, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_11 > svg {
  height: 50px;
  width: 61px;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_3 {
  position: absolute;
  width: 55px;
  height: 57px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_3 > img, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_3 > svg {
  height: 57px;
  width: 55px;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_12 marker {
  fill: #000000;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_12 {
  position: absolute;
  width: 385px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_12 {
  width: 385px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_7 {
  position: absolute;
  width: 56px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_7 > img, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_7 > svg {
  height: 49px;
  width: 56px;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_17 marker {
  fill: #000000;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_17 {
  position: absolute;
  width: 84px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_17 {
  width: 84px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_19 marker {
  fill: #000000;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_19 {
  position: absolute;
  width: 84px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_19 {
  width: 84px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_20 marker {
  fill: #000000;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_20 {
  position: absolute;
  width: 84px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_20 {
  width: 84px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_5 > .clipping, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_6 > .clipping, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_13 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_13 > .clipping, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_13 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_14 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-BoldItalic',Arial;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_14 > .clipping, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_14 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_14 span {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-BoldItalic',Arial;
  font-size: 8.0pt;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-BoldItalic',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_15 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_15 > .clipping, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_15 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_18 marker {
  fill: #000000;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_18 {
  position: absolute;
  width: 84px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_18 {
  width: 84px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_11 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #F6F7F8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_11 {
  position: absolute;
  width: 375px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_11 > .clipping, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_11 > .paddingLayer {
  height: 88px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_11 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_6 > svg {
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_6 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_6 > img, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_6 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_17 > svg {
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_17 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_17 > img, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_17 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_18 > svg {
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_18 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_18 > img, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_18 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_4 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_4 > .clipping, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_4 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_1 {
  position: absolute;
  width: 60px;
  height: 58px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_1 > img, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_1 > svg {
  height: 58px;
  width: 60px;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_1 marker {
  fill: #000000;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 553px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_1 {
  width: 553px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_2 marker {
  fill: #000000;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 553px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_2 {
  width: 553px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_12 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_12 > .clipping, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_12 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_12 span {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_2 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_2 > img, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_2 > svg {
  height: 100px;
  width: 100px;
  box-shadow: none;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_8 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_8 > img, #s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_8 > svg {
  height: 100px;
  width: 100px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}