#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_36 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_36 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_16 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_16 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FDCA2E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FDCA2E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FDCA2E;
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_11 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_11 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_12 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_12 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_17 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_17 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_19 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_19 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_20 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_20 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_18 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_18 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_2 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Line_2 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bc7d7601-9ca6-40a9-9368-44d1b5f33a35 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}