#s-bceb021c-0498-4810-9f26-01ebb0d82e61 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_4 {
  position: absolute;
  width: 288px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_4 > .clipping, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_6 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_6 {
  position: absolute;
  width: 246px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_6 > .clipping, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_6 > .paddingLayer {
  height: 25px;
  width: 232px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_6 span {
  color: #699CFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #699CFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_6 span#rtr-s-Button_6_1 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_1 marker {
  fill: #000000;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 507px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Line_1 {
  width: 507px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_2 marker {
  fill: #000000;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 507px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Line_2 {
  width: 507px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_3 marker {
  fill: #000000;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 507px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Line_3 {
  width: 507px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Group_1 {
  position: absolute;
  width: 387px;
  height: 85px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_11 marker {
  fill: #000000;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_11 {
  position: absolute;
  width: 385px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Line_11 {
  width: 385px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_4 {
  position: absolute;
  width: 58px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_4 > img, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_4 > svg {
  height: 44px;
  width: 58px;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_5 {
  position: absolute;
  width: 56px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_5 > img, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_5 > svg {
  height: 54px;
  width: 56px;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_11 {
  position: absolute;
  width: 61px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_11 > img, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_11 > svg {
  height: 50px;
  width: 61px;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_3 {
  position: absolute;
  width: 61px;
  height: 63px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_3 > img, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_3 > svg {
  height: 57px;
  width: 55px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #699CFC;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_12 marker {
  fill: #000000;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_12 {
  position: absolute;
  width: 385px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Line_12 {
  width: 385px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_7 {
  position: absolute;
  width: 56px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_7 > img, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_7 > svg {
  height: 49px;
  width: 56px;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_17 marker {
  fill: #000000;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_17 {
  position: absolute;
  width: 84px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Line_17 {
  width: 84px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_19 marker {
  fill: #000000;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_19 {
  position: absolute;
  width: 84px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Line_19 {
  width: 84px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_20 marker {
  fill: #000000;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_20 {
  position: absolute;
  width: 84px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Line_20 {
  width: 84px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_5 > .clipping, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_6 > .clipping, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_13 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_13 > .clipping, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_13 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_14 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_14 > .clipping, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_14 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_15 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-BoldItalic',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_15 > .clipping, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_15 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_15 span {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-BoldItalic',Arial;
  font-size: 8.0pt;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-BoldItalic',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_18 marker {
  fill: #000000;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Line_18 {
  position: absolute;
  width: 84px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Line_18 {
  width: 84px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Rectangle_11 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #F6F7F8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Rectangle_11 {
  position: absolute;
  width: 375px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Rectangle_11 > .clipping, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Rectangle_11 > .paddingLayer {
  height: 88px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Rectangle_11 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_6 > svg {
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_6 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_6 > img, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_6 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_17 > svg {
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_17 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_17 > img, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_17 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_18 > svg {
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_18 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_18 > img, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_18 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_4 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_4 > .clipping, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_4 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_1 {
  position: absolute;
  width: 60px;
  height: 58px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_1 > img, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Image_1 > svg {
  height: 58px;
  width: 60px;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Panel_1 {
  width: 375px;
  height: 200px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 375px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_3 {
  position: absolute;
  width: 331px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_3 > .clipping, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_10 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_10 {
  position: absolute;
  width: 246px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_10 > .clipping, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_10 > .paddingLayer {
  height: 25px;
  width: 232px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_10 span {
  color: #699CFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_10 span#rtr-s-Button_10_0 {
  color: #699CFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_5 > .shapert-clipping {
  width: 24px;
  height: 24px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_5 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_5 .content {
  text-shadow: none;
  width: 24px;
  height: 24px;
  line-height: 20px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_5 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_5 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Ellipse_5 {
  width: 24px;
  height: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #DD3214;
  background-image: none;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Panel_2 {
  width: 375px;
  height: 198px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Panel_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #699CFC;
  background-image: none;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Panel_2 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 375px;
  height: 198px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_5 {
  position: absolute;
  width: 286px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_5 > .clipping, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_5 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 12px 12px 12px 12px;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_5 {
  position: absolute;
  width: 147px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_5 > .clipping, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_5 > .paddingLayer {
  height: 31px;
  width: 131px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_5 span {
  color: #699CFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #699CFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_9 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 12px 12px 12px 12px;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_9 {
  position: absolute;
  width: 147px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_9 > .clipping, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_9 > .paddingLayer {
  height: 31px;
  width: 131px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_9 span {
  color: #699CFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_9 span#rtr-s-Button_9_0 {
  color: #699CFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_6 {
  position: absolute;
  width: 246px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_6 > .clipping, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_7 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_7 {
  position: absolute;
  width: 246px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_7 > .clipping, #s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_7 > .paddingLayer {
  height: 25px;
  width: 232px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_7 span {
  color: #699CFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #699CFC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Button_7 span#rtr-s-Button_7_1 {
  color: #699CFC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_3 > .shapert-clipping {
  width: 24px;
  height: 24px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  width: 24px;
  height: 24px;
  line-height: 20px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_3 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Ellipse_3 {
  width: 24px;
  height: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #DD3214;
  background-image: none;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_4 > .shapert-clipping {
  width: 24px;
  height: 24px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_4 .content {
  text-shadow: none;
  width: 24px;
  height: 24px;
  line-height: 20px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_4 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #s-Ellipse_4 {
  width: 24px;
  height: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #DD3214;
  background-image: none;
  box-shadow: none;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bceb021c-0498-4810-9f26-01ebb0d82e61 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}