#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Line_36 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Line_36 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Button_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 11px 11px 11px 11px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  height: 28px;
  width: 244px;
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}