#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Input_2 INPUT {
  font-family: Arial;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Input_3 INPUT {
  font-family: Arial;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d7b243f5-6674-4457-a11e-edb8cd651e4a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}