#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Rich_text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Line_33 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Line_33 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Rich_text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Line_34 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Line_34 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Button {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 12px 12px 12px 12px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  height: 43px;
  width: 345px;
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Line_35 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Line_35 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f1596db9-331b-417d-899f-849fa4ba1f62 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}