#t-f662d93a-cc76-4235-8942-bbbb5490b437 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-f662d93a-cc76-4235-8942-bbbb5490b437 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#t-f662d93a-cc76-4235-8942-bbbb5490b437 #t-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FEF5D6;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#t-f662d93a-cc76-4235-8942-bbbb5490b437 #t-Rectangle_1 {
  position: absolute;
  width: 410px;
  height: 853px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-f662d93a-cc76-4235-8942-bbbb5490b437 #t-Rectangle_1 > .clipping, #t-f662d93a-cc76-4235-8942-bbbb5490b437 #t-Rectangle_1 > .paddingLayer {
  height: 853px;
  width: 410px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f662d93a-cc76-4235-8942-bbbb5490b437 #t-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f662d93a-cc76-4235-8942-bbbb5490b437 #t-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#t-f662d93a-cc76-4235-8942-bbbb5490b437 #t-Rectangle_1 span#rtr-t-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-f662d93a-cc76-4235-8942-bbbb5490b437 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}