#t-f662d93a-cc76-4235-8942-bbbb5490b437 #t-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#t-f662d93a-cc76-4235-8942-bbbb5490b437 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}